streamlit
pandas
numpy==1.26.4
sentence-transformers
scikit-learn
PyMuPDF
python-docx
openai
reportlab
spacy==3.7.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz